<!DOCTYPE html>
<html lang="ja">
<style>
    @import url("https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css");

    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    form {}
</style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TextBrowser</title>
</head>

<body>
    <div style="flex-grow: 1;"></div>
    <main class="container">
        <form action="?" method="GET" class="container">
            <input id="url" type="text" name="url" placeholder="URL" autofocus></input>
            <button type="submit" name="type" value="html" class="outline">HTML</button>
            <button type="submit" name="type" value="pdf" class="outline secondary">PDF</button>
            <button type="submit" name="type" value="image" class="outline secondary">Image</button>
        </form>
    </main>
    <div style="flex-grow: 1;"></div>
    <footer class="container">
        <a href="https://github.com/Mya-Mya/TextBrowser">TextBrowser</a>
    </footer>
</body>

</html>